body {
    background-image: url(background.png);
    background-size: 100%;
}

header{
    text-align: center;
    padding-left: 1%;
    font-family:  sans-serif;
    font-weight: bold;
}

.iframe {
    text-align: center;
    margin-top: 2%;
    margin-right: 3px;
    padding-left: 5%;
}

.iframe2 {
    outline: 3px solid black;
    outline-offset: -3px;
    border-right: 2.5px solid black;
    width: 90%;  
    height: 90%; 
    display: block;
    position: absolute;
}

